<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" thread-count="5" >
    <listeners>
        <listener class-name="Listeners.MyListeners"/>
    </listeners>

    <test name="ChromeTest" thread-count="5" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.TC_001_HomePage"/>
            <class name="testCases.TC_002_UpComingBikes"/>
            <class name="testCases.TC_003_UsedCars"/>
            <class name="testCases.TC_004_InvalidUserDetails"/>
        </classes>
    </test>

   <!-- <test name="EdgeTest" thread-count="2" >
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="testCases.TC_001_HomePage"/>
            <class name="testCases.TC_002_UpComingBikes"/>
            <class name="testCases.TC_003_UsedCars"/>
            <class name="testCases.TC_004_InvalidUserDetails"/>
        </classes>
    </test>-->
</suite>